<html>
    <head>
        <title>Rocket.Q - Senha Incorreta</title>
    </head>

    <script>
        confirm('[ERRO]: Senha incorreta! Por favor, digite a senha novamente.');
    window.location.replace("/room/<%= roomId %>");
    </script>
</html>